* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 90px;
    background-color: #adbdbd69;
    display: inline;
}

header > div, header > nav{
    display: inline;
    top: 50%;
}

#header-img {
    width: 100%;
    max-width: 250px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header .menus {
    float: right;
    margin-right: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
}

header .menus ul {
    display: flex;
    
}

header .menus ul li {
    list-style: none;
    margin-right: 10vw;
    
}
header .menus ul li a {
    color:#0d1c35 !important;
    font-weight: 600;
}

header .menus ul li a:hover {
    color: coral !important;
    cursor: pointer;
}

.subscription div h3 {
    color: #0a0a0a;
    font-size: 2em;
    font-weight: 600;

}

.subscription form {
    margin-bottom: 60px;
}

.subscription form [type="email"]{
    border: 10px solid #0b1d51a3;
}

.subscription form [type="submit"] {
    padding: 6px 10px;
    background-color: #364237;
    color: #FFF;
}

#features>.row {
    margin-bottom: 30px;
    padding-left: 8vw;
}

#features .row .col-3 i {
    font-size: 60px;
    color: gold;
}

#howItWorks iframe {
    width: 650px;
}

#pricing {
    margin-top: 100px;
    margin-bottom: 100px;
}

#pricing .price-box {
    border: 1px solid #0f0f0f;
    margin-right: 20px;
    height: 300px;
    padding: 0;
}

#pricing .price-box p {
    color: #fafafa7c;
    padding: 16px 0;
    font-size: 20px;
    font-weight: 600;
}

#pricing .price-box button {
    padding: 8px 32px;
    background-color: gold;
}

#pricing .price-box:last-child {
    margin-right: 0 !important;
}

.price-heading {
    background-color: grey;
}

.price-amount {
    font-size: 32px;
    font-weight: 700;
}

.price-description {
    padding: 30px;
}
footer {
    background-color: goldenrod;
    padding: 40px;
    bottom: 0;
    
}
footer ul{
    list-style-type: none;
    display: inline;
}

footer ul li {
    display: inline;
    margin-right: 5vw;
}

footer .copy-txt p {
    float: right !important;
}